
<div class="ss">
  <div class="form-container">
    <h2>Enter Name (Reactive Forms)</h2>
    <form [formGroup]="form">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" formControlName="firstname" placeholder="Enter your first name">
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" formControlName="lastname" placeholder="Enter your last name">
      </div>
      <div *ngIf="form.valid" class="form-group">
        <button type="submit" (click)="onSubmit()">Submit</button>
      </div>
    </form>
  </div>
</div>


<div class="ss">
    <div class="form-container">
      <h2>Enter Name (Template driven)</h2>
      <form>
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input type="text" [(ngModel)]="firstname" name="firstname"  placeholder="Enter your first name">
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input type="text" [(ngModel)]="lastname" name="lastname" placeholder="Enter your last name">
        </div>
        <div class="form-group">
          <button type="submit" (click)="onSubmitng()">Submit</button>
        </div>
      </form>
    </div>
  </div>
  
