body, ul{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: aqua;
    padding: 10px 20px;
}

.nav-list{
    display: flex;
    /* gap: 20px; */
    font-size: 20px;
    margin: 0;
    align-items: flex-end
}

.nav-item{
    list-style-type: none;
    font-weight: bold;
    transition: background-color 0.3s;
    padding: 8px 12px;
    border-radius: 4px;
}

.nav-item:hover{
    background-color: rgb(255, 255, 255);
}